@import url(./narrow-container.css);
@import url(./code-panel.css);
body {
  background: url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

container {
  background: none;
}
